
/* https://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===================

CUSTOM

=================== */

main {
  display: block; 
}

b {
  font-weight: 600;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  text-rendering:optimizeLegibility;
}

body {
  font-family: 'Bluu', serif;
}

a, a:visited, a:active {
  color: initial;
}

header {
  height: 60px;
  overflow: hidden;
  background-color: #3634FB; 
}

header h1 {
  font-weight: bold;
  color: #fff;
  font-size: 2.5rem;
  line-height: 60px;
  margin-left: 20px;
  float: left;  
  display: inline-block;
}

header h1 a {
  color: inherit;
  text-decoration: none;
}

header h1 a:active {
  color: white;
}

header h1:after {
  content: ':';
  display: inline-block;
  padding-right: 100px;
  z-index: 20;
  background-color: #3634FB;

  transition: all 0.3s ease;
}

.show header h1:after {
  transform: translate(-75px, -5px) ;
  font-size: 2.5rem;

  padding-right: 100px;
}

header nav ul {
  display: none;  
}

.btn-menu {
  display: block;
  float: right;
  margin-top: 20px;
  /*margin-bottom: 2px;*/
  margin-right: 15px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: block;
  position: relative;
}

.btn-menu:focus {
  outline: none;  
}

.btn-menu .text {
  display: block;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden; 
}

.btn-menu .chulo {
  width: 30px;

  transition: transform 0.3s ease;
}

.show .btn-menu .chulo {
  transform: rotate(180deg);
}

.mobile-nav {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3634FB;
  border: 1px solid #3634FB;
  border-top: none;
  border-bottom: none;
  z-index: 20;

  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;  
}

.mobile-nav ul {
  padding-top: 40px;
}

.mobile-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 2.3rem;
  text-indent: 10px;
  display: block;
  line-height: 3.5rem;
  padding-left: 10px;
}

.mobile-nav a:after {
  content: ':';
  padding-left: 2px;
}

.mobile-nav a:focus,
.mobile-nav a:hover,
.mobile-nav a:active {
  /*opacity: 0.5;*/
}

.show .mobile-nav {
  height: auto;
}

main {
  padding: 10px 20px;
  position: relative;
  /*height: 100vh*/
}

body.hide main {
  position: initial;
  overflow: hidden;
}

body.hide {
  overflow: hidden;
}

main:before,
main:after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  border-color: transparent;
  border-style: solid;

  z-index: 30;

  transition: 0.6s ease-in-out border-width;
}

main:after {
  border-width: 0;
  border-top-color: #3634FB;
  border-right-color: #3634FB;
}

body.hide main:after {
  border-width: calc(100vh + 100vw);
}

body #section-title {
  content: 'Books';
  color: white;
  font-size: 2em;
  position: fixed;
  top: 50%;
  height: 2em;
  line-height: 2em;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
  opacity: 0;
  width: 0%;
  text-align: center;
  overflow-x: hidden;
  text-transform: capitalize;

  transition: width 0.4s ease-in-out 0.3s;
  /*transition: opacity 0.1s ease-in-out 0.3s;*/
}

body #section-title:after {
  content: ':';
}

body.hide #section-title {
  opacity: 1;
  width: 100%;
}

body.unhide #section-title {
  opacity: 0;
  width: 0%;
  transition: all 0.2s linear 0.2s;
}

body.unhide main:before,
body.unhide main:after {
  bottom: 0;
  left: 0;
  border-bottom-color: #3634FB;
  border-left-color: #3634FB;

  top: initial;
  right: initial;
  border-top-color: transparent;
  border-right-color: transparent;
}

body.unhide main:after {
  border-width: 0;
}

article {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4rem;
  font-weight: 300;
} 

article #books {
  line-height: 1.8rem;
}



article .video {
  width: 100%;
  height: 100px;
  background-color: #C6FDFE;
  margin-bottom: 20px;
  background-image: url(./assets/video.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
}

article p, #book-paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.6em;
}

article #home {
  line-height: 1.2;
  font-size: 2.1rem; 
  font-family: 'Bluu', serif;
}

article h1 {
  line-height: 1.2;
  font-size: 2.1rem;  
  margin-bottom: 10px;  
  font-family: 'Bluu', serif;
}

article span.inside-title {
  display: inline;
  font-size: 1.8rem;  
  font-weight: bold;
  margin-bottom: 10px;  
  font-family: 'Bluu', serif;
  padding-right: 10px;
}

article .mini-title {
  font-family: 'Bluu', serif;
}

article .books {
  padding-top: 10px;
  margin-right: -2%;
}

article .books::after {
  content: "";
  clear: both;
  display: block;
}

article .books a {
  text-decoration: none;
  display: block;
  width: 48%;
  height: 48%;
  margin-right: 2%;
  margin-bottom: 2%;
  float: left;
  padding: 0;
  /*padding: 10px;*/
  /*padding-bottom: 45%;*/
  position: relative;
  background-size: cover;
}

article .books a:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

article .books a span.title {
  position: absolute;
  display: block;
  top: 15px;
  left: 8px;
  right: 8px;
  font-size: 1.2em;
  font-family: 'Bluu', serif;
}

article .books a span.author {
  position: absolute;
  display: block;
  bottom: 10px;
  left: 8px;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1rem;
  letter-spacing: 0.5px;
}

p.dotted:after {
  content: ':';
  font-size: 0.75em;
  padding-left: 3px;
  color: #3634FB;
}

footer {
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  text-align: right;
  font-size: 0.8em;
  position: relative;
  /*bottom: 20px;*/
  right: 20px;
  margin-bottom: 30px;
}

footer span.sharing {
  font-weight: 700;
  font-size: 1.2em;
  line-height: 30px;
  /*display: inline-block;*/
}

footer > div {
  /*padding-bottom: 5px;*/
  display: inline-block;
}

footer div.social {
  float: left;
  padding-right: 8px;
}

footer a.social {
  margin-right: 3px;
  /*line-height: 30px;*/
  /*height: 30px;*/
}

footer a.social img {
  height: 25px;
  margin-top: -2px;
  display: inline-block;
}

footer div.top {
  padding-left: 100px;
}

footer div.bottom {
  letter-spacing: 0.2px;
}

footer img.copyleft {
  width: 11px;
  margin: 0 1px;
  display: inline;
}

#books-home {
  display: none;
}

hr {
  background-color: #3634FB;
  border: none;
  height: 2px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.books a img {
  width: 100%;
  display: block;
}

a.big-button {
  display: inline-block;
  /*width: 300px;*/
  
  border: 1.5px solid black;
  
  padding: 10px 10px;
  font-weight: 800;
  font-size: 1rem;
  /*margin-top: 0px;*/
  text-decoration: none;
  margin-bottom: 70px;
}

#collaborate {
  line-height: 1.8rem;
}

#collaborate h2 {
  font-size: 1.5em;
}

.book-info #title {
  font-size: 30px;
  margin-bottom: 10px;
}

.book-info #author {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}

.book-info #book-paragraph {
  margin-bottom: 20px;
}

.book-info #blue-info1,
.book-info #blue-info2 {
  font-size: 0.8em;
  font-weight: 500;
  color: #3634FB;
}

.book-info a,
.book-info a.active,
.book-info a.visited,
.book-info a.hover {
  color: #3634FB;
}

#book-front > .book-cover > img {
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

#book-front .read-links {
  width: 100%;
  clear: both;
  padding-top: 20px;
}

#book-front .read-links a {
  border: 2px solid black;
  padding: 5px 10px;
  text-decoration: none;
  margin: 5px 0;
  display: inline-block;
}

a.make-book {
  display: none;
}

#progress-bar-wrapper {
  display: none;
}

main#credits li {
  margin-bottom: 5px;
  margin-left: 20px;
  list-style: square;
}

#coming-soon {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    /*padding-top: 90px;*/
  }

  header {
    background-color: transparent;
    height: 90px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
  }

  header h1 {
    line-height: 90px;
    font-size: 2.7rem;
  }

  header h1 a,
  header h1 a:hover,
  header h1 a:active,
  header h1 a:visited {
    color: #3634FB;

  }

  header h1:after {
    display: none;
  }

  header h1 a:after {
    content: ':';
    display: inline-block;
    padding-right: 0px;
    z-index: 20;
    background-color: transparent;
    color: #3634FB;

    transition: all 0.3s ease;
  }

  header h1 a:hover:after {
    transform: translate(5px);
  }

  header nav ul {
    display: block;  
    float: right;
  }

  header nav ul li {
    display: inline-block;
    padding-top: 5px;
    line-height: 85px;
    font-size: 1.3rem;
    margin-right: 20px;
  }

  header nav ul li a,
  header nav ul li a:active,
  header nav ul li a:hover,
  header nav ul li a:visited {
    color: #3634FB;
    text-decoration: none;
  }

  header nav ul li a:after {
    content: ':';
    display: inline-block;
    transition: all 0.3s ease;
  }

  header nav ul li a:hover:after {
    transform: translate(5px);
  }

  article {
    padding: 0 30px;
  }

  article #home {
    font-size: 2.4em;
  }


  .btn-menu {
    display: none;
  }

  footer {
    right: 50px;
    clear: both;
    /*position: fixed;*/
    /*bottom: 40px;*/
  }

  main {
    padding-top: 90px;
  }

  main:after {
    border-top-color: white;
    border-right-color: white;
  }

  body.unhide main:before,
  body.unhide main:after {
    border-bottom-color: white;
    border-left-color: white;
  }

  body #section-title {
    color: black;
  }

  body.hide #section-title {
    width: 50%;
  }

  body.unhide #section-title {
    width: 0%;
  }

  #books-home {
    display: block;
  }

  article .books {
    margin-right: -3%;
  }

  article .books a {
    width: 30.333%;
    margin-right: 3%;
    margin-bottom: 3%;
    /*padding-bottom: 30%;*/
  }

  article .books a span.title {
    top: 20px;
    left: 16px;
    right: 16px;
    font-size: 2.2rem;
    line-height: 3rem;
  }

  article .books a span.author {
    bottom: 20px;
    left: 16px;
    font-size: 1.2rem;
  }

  footer div.top span:after {
    content: '//';
    padding: 0 5px 0 8px;
  }

  div.video {
    height: 400px;
    background-size: 200px;
  }

  article > h1 {
    display: none;
  }

  article {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  div.two-columns {
    margin-right: -40px;
  }

  div.two-columns > div {
    width: 50%;
    float: left;
    padding-right: 40px;
  }

   div.two-columns:after {
    content: '.';
    opacity: 0;
    clear: both;
   }

  #collaborate {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  a.big-button {
    font-size: 1.4rem;
    text-align: center;
    display: block;
    
    margin-top: 10px;
    width: 300px;
    margin: 0 auto;
  }

  hr {
    width: 50%;
    margin: 40px auto;
  }

  #book-front > .book-cover {
    float: left;
    width: 40%;
    padding: 0 40px;
  }

  #book-front > .book-cover > img {
    width: 100%;
  }

  #book-front > .book-info {
    float: right;
    width: 60%;
  }

  #book-front .read-links {
    text-align: center;
  }

  .book-info #title {
    font-size: 2.2em;
    margin-bottom: 0;
  }

  .book-info #author {
    font-size: 1.2em;
  }

  #book-front .read-links a {
    margin: 5px;
  }

  a.make-book {
    display: inline-block;
    /*height: 50px;*/
    float: right;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px 10px;
  }

  #book-web-content {
    padding-right: 110px;
  }

  #progress-bar-wrapper {
    display: block;
    position:absolute;
    right: 20px;
    top: 70px;
  }
  
  #progress-bar {
    position:fixed;
    background-color: white;
    border: 2px solid black;
    height: 70vh;
    width: 20px;
  }

  #progress-indicator {
    width: 100%;
    height: 20px;
    background-color: black;
    position: relative;
  }

  #progress-indicator > span {
    display: inline-block;
    position: absolute;
    right: 30px;
    text-align: right;
    bottom: -9px;
  }
}

@media screen and (min-width: 1300px) {

  main {
    max-width: 1300px;
    margin: 0 auto;
  }

}

/* BOOK CONTENT STYLES
========================= */

#book-html-content {
  font-family: 'Bitter';
  line-height: 1.5em;
}

#book-html-content ul.toc {
  list-style: circle;
  padding-left: 40px;
  margin: 20px 0;
  font-size: 14px;
}

#book-html-content h1 {
  font-size: 32px;
  margin-bottom: 10px;
  line-height: 1.5em;
}

#book-html-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Bluu', serif;
}

#book-html-content h3 {
  margin: 10px 0;
  font-weight: 900;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

#book-html-content p {
  margin: 20px 0;
  font-size: 14px;
  line-height: 23px;
}

#book-html-content img {
  width: 50%;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

/* BINDERY CONTENT OVERRIDING STYLES (.📖-viewing)
========================= */

.📖-viewing #book-html-content p {
  font-size: 14px;
  font-family: 'Bitter';
}

.📖-viewing #book-html-content h1 {
  font-size: 1.6em;
}